<div>
  <h4>Comment by <%= comment.author_name %></h4>
  <%= form_for [ @article, @comment ] do |f| %>

  <p class="comment"><%= comment.body %></p>
  <%= f.label :author_name, "Your Name"  %>
<%= f.label :author_name, "Your comment"  %>
<% end %>

</div>
<p>Posted <%= distance_of_time_in_words(comment.article.created_at, comment.created_at) %> later</p>
